<section class="">
    <div class="columns is-centered is-desktop">
        <div class="column hero is-primary-edit is-hidden-mobile">
        </div>
        <div class="column hero is-purple is-centered is-mobile">
          <div class="field element">
            <div>
              <a id="element1" onclick="myFunctionAvatar();javascript:changeTextAvatar(1);changeFont1()" class="amatic">→ Profile Picture</a>
            </div>
            <div>
              <a id="element2" onclick="myFunctionProfile();javascript:changeTextProfile(2);changeFont2()" class="roman">Public Profile</a>
            </div>
            <div>
              <a id="element3" onclick="myFunctionEmail();javascript:changeTextEmail(3);changeFont3()" class="roman">Email</a>
            </div>
            <div>
              <a id="element4" onclick="myFunctionPassword();javascript:changeTextPassword(4);changeFont4()" class="roman">Password</a>
            </div>
          </div>
        </div>

      <div class="column is-4 profile edit">
      <h1 class="title edit">EDIT PROFILE</h1>
      <%# <p class="subtitle is-size-6">PUBLIC PROFILE</p> %>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

      <%# avatar profile %>
      <div id="avatar" class="avatar-edit">
      <p class="subtitle edit">PUBLIC PICTURE</p>
        <div class="field">
          <div class="control">
              <%= cl_image_tag(resource.avatar.key) if resource.avatar.attached? %>
          </div>
         </div>
        <div class="field">
          <div class="control">
            <%= f.file_field :avatar, as: :file, input_html: { class: "file"}, wrapper: false, label_html: { class: "label" } %>
          </div>
        </div>
        
      </div>
      <%# public profile %>
      <div id="public-profile" class="public-profile">
        <p class="subtitle edit">PUBLIC PROFILE</p>
        <div class="field">
          <div class="control">
            <%= f.input :username, required: true, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
          </div>
        </div>
          <div class="field">
            <div class="control">
              <%= f.input :name, required: true, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>
      

        <div class="field">
          <div class="control">
            <%= f.input :location, required: true, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.input :bio, required: true, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%=  f.input :art, label: "Artist Area", required: true, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
          </div>
        </div>
        <% if @user.entity %>
        <% else %>
        <div class="field">
          <div class="control">
            <label class="label">Looking for a job?</label>
            <%= f.check_box :available %>
            <%= f.label :available, "I am avaiable for a job.", autofocus: true, wrapper: false, label_html: { class: "label" } %>
          </div>
        </div>
        <% end %>
        
      </div>

        <%# email %>
        <div id="email" class="email">
        <p class="subtitle edit">EMAIL</p>
          <div class="field">
            <div class="control">
              <%= f.input :email, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>
         
         </div>
        <%# password %>
        
        <div id="password" class="password">
          <p class="subtitle edit">PASSWORD</p>
          <div class="field">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          </div>

          <div class="field">
            <div class="control">
            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
            <%= f.input :password_confirmation, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>
          
        </div>
        <%# password confirmation %>
          <div class="field">
            <div class="control">
              <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
        </div>
   
        <%= f.button :submit, "Update", class:"button is-primary" %>
     
      <% end %>

        
        <h3 class="title edit cancel">Cancel my account</h3>
        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
   
      </div>
        <div class="column hero is-warning is-hidden-mobile">
        </div>
        <div class="column hero is-warning is-hidden-mobile">
        </div>
    </div>
  </div>
</section>

<script>
  function myFunctionAvatar() {
    var x = document.getElementById("avatar");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  function changeTextAvatar(idElement) {
      var element = document.getElementById('element' + idElement);
      if (idElement === 1) {
          if (element.innerHTML === 'Profile Picture') element.innerHTML = '→ Profile Picture';
          else {
              element.innerHTML = 'Profile Picture';
          }
      }
  }
  function changeFont1() {
    var fon1 = document.getElementById("element1");
    if (fon1.className == "roman") {
      fon1.className = 'amatic';
    } else {
      fon1.className = 'roman';
    }
  }

    function myFunctionProfile() {
      var y = document.getElementById("public-profile");
      if (y.style.display === "") {
        y.style.display = "block";
      } else {
        y.style.display = "";
      }
    }
    function changeTextProfile(idElement) {
        var element = document.getElementById('element' + idElement);
        if (idElement === 2) {
            if (element.innerHTML === '→ Public Profile') element.innerHTML = 'Public Profile';
            else {
                element.innerHTML = '→ Public Profile';
            }
        }
    }
    function changeFont2() {
      var fon2 = document.getElementById("element2");
      if (fon2.className == "amatic") {
        fon2.className = 'roman';
      } else {
        fon2.className = 'amatic';
      }
    }

      function myFunctionEmail() {
        var z = document.getElementById("email");
        if (z.style.display === "") {
          z.style.display = "block";
        } else {
          z.style.display = "";
        }
      }
      function changeTextEmail(idElement) {
          var element = document.getElementById('element' + idElement);
          if (idElement === 3) {
              if (element.innerHTML === '→ Email') element.innerHTML = 'Email';
              else {
                  element.innerHTML = '→ Email';
              }
          }
      }
      function changeFont3() {
        var fon3 = document.getElementById("element3");
        if (fon3.className == "amatic") {
          fon3.className = 'roman';
        } else {
          fon3.className = 'amatic';
        }
      }

        function myFunctionPassword() {
          var p = document.getElementById("password");
          if (p.style.display === "") {
            p.style.display = "block";
          } else {
            p.style.display = "";
          }
        }
        function changeTextPassword(idElement) {
            var element = document.getElementById('element' + idElement);
            if (idElement === 4) {
                if (element.innerHTML === '→ Password') element.innerHTML = 'Password';
                else {
                    element.innerHTML = '→ Password';
                }
            }
        }
        function changeFont4() {
          var fon4 = document.getElementById("element4");
          if (fon4.className == "amatic") {
            fon4.className = 'roman';
          } else {
            fon4.className = 'amatic';
          }
        }

</script>