<section class="">
  <div class="columns is-centered is-desktop">
    <div class="column is-6 hero white is-primary is-hidden-media is-hidden-mobile">
      <%= link_to ' BACK', @user, class:"text optional label ml3" %>
      <div id="slideout">
        <p> Usuario</p>
      </div>
    </div>

        <%# <div class="column hero is-purple is-centered is-mobile">
          <div class="field element">
            <div>
              <a id="element1" onclick="myFunctionAvatar();javascript:changeTextAvatar(1);changeFont1()" class="amatic">→ Profile Picture</a>
            </div>
            <div>
              <a id="element2" onclick="myFunctionProfile();javascript:changeTextProfile(2);changeFont2()" class="roman">→ Public Profile</a>
            </div>
            <div>
              <a id="element3" onclick="myFunctionEmail();javascript:changeTextEmail(3);changeFont3()" class="roman">Email</a>
            </div>
            <div>
              <a id="element4" onclick="myFunctionPassword();javascript:changeTextPassword(4);changeFont4()" class="roman">Password</a>
            </div>
          </div>
        </div> %>

        <div class="column profile edit is-mobile">
          <h1 class="title edit">EDIT PROFILE</h1>
          <%# <p class="subtitle is-size-6">PUBLIC PROFILE</p> %>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>


          <%# public profile %>
          <div id="#public-profile" class="public-profile">
            <p class="subtitle edit">PUBLIC PROFILE</p>
            <div class="field">
              <div class="control">
              	<label class="label">Username <span class="tooltips fa fa-question-circle" tooltip="This name is not public, it’s only for Panóplia’s database management." tooltip-position="right"></span></label>
                <%= f.input :username, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" }, label: false  %>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label class="label">Name <span class="tooltips fa fa-question-circle" tooltip="This is your public name. If you  don’t have an artistic name, please put your own name." tooltip-position="right"></span></label>
                <%= f.input :name, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" }, required: true, error: 'Name is mandatory, please specify one', label: false  %>
              </div>
            </div>
            

            <div class="columns" style="margin-bottom:0">
              <div class=" column control" style="margin-bottom:0">
                <%= f.input :location, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" }, required: true  %>
              </div>
              <div class="column select is-multiple" style="margin-bottom:0">
                <label class="label">Select type <span class="tooltips fa fa-question-circle" tooltip="If you have more than one artistic field, please tell it above in the bio." tooltip-position="right"></span></label>
                <%=  f.input_field :art, collection: User::ARTS, autofocus: true, label_html: { class: "label" }, style:"width: 100%", input_html: { multiple: true }, include_blank: false, include_hidden: false %>
                
              </div>
            </div>

            <div class="field">
              <div class="control bio">
                <%= f.input :bio, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" }, required: true %>
              </div>
            </div>

        <%# <div class="field">
          <div class="control">
            <div class="select is-multiple">
              <label class="label">Select type</label>
              <%=  f.input_field :art, collection: User::ARTS, autofocus: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }%>
          <%#  </div>
          </div>
        </div> %>

        <%# if @user.entity %>
        <%# else %>
        <div class="field">
          <div class="control">
            <%# <label class="label" for="available_for_a_job_checkbox">Looking for a job?</label> %>
            <%= f.check_box :available, id:"available_for_a_job_checkbox", name:"available_for_a_job" %>
            <%= f.label :available, "YES, I AM AVAILABLE FOR A JOB.", autofocus: true, wrapper: false, label_html: { class: "label" }, class:"subtitle edit", style:"color: #9600c8;" %>
          </div>
        </div>
        <%# end %>
        
      </div>


      <%# password confirmation %>
        <%# <div class="field">
          <div class="control">
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
        <%# </div>
      </div> %>
      
      <%= f.button :submit, "SAVE PROFILE INFO", class:"button is-prime is-small" %>
      
      

      
      <h3 class="title edit cancel"></h3>
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
      
    </div>

    <%# avatar profile %>
    <div class="column hero is-warning">
      <div class="edit-avatar-pass mr2">
        <div id="avatar" class="avatar-edit">
          <p class="subtitle edit pt4 ml5">PUBLIC PICTURE</p>

          <div class="field">
            <div class="control ml5" id="target">
              <%= cl_image_tag(resource.avatar.key, :quality=>"auto:good") if resource.avatar.attached? %>
            </div>
          </div>

          <div id="file-js-examplez" class="file has-name">
            <label class="file is-primary has-name is-small">
              <%= f.file_field :avatar, as: :file, class: 'file-input', id:"pictureInput", onchange: "validateFiles(this);", data: { max_file_size: 2.megabytes } %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
                No file uploaded
              </span>
            </label>
            <span class="tooltips fa fa-question-circle" tooltip="If your image doesn’t upload, please refresh the page and try again." tooltip-position="top-edit"></span>
          </div>
          <%= f.error_notification message: 'Max size 2MB' %>
          <div class="has-text-centered">
            <%# f.button :submit, "UPLOAD NEW AVATAR", class:"button is-prime is-small" %>
          </div>
        </div>

        <%# email %>          
        <br>
        <%# <div class="pt4">
          <a id="element3" onclick="myFunctionEmail();javascript:changeTextEmail(3);changeFont3()" class="roman">Email</a>
        </div> %>

        <div id="email" class="email">
          <%# <p class="subtitle edit">EMAIL</p> %>
          <div class="field">
            <div class="control">
              <%= f.input :email, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>
          <%#= f.button :submit, "SAVE PROFILE INFO", class:"button is-prime is-small" %>
        </div>
        <%# password %>
        <%# <div>
          <a id="element4" onclick="myFunctionPassword();javascript:changeTextPassword(4);changeFont4()" class="roman">Password</a>
          
        </div> %>

        <div id="password" class="password">
          <%# <p class="subtitle edit">PASSWORD</p> %>
          <div class="field">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :password_confirmation, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>
          <%#= f.button :submit, "SAVE PROFILE INFO", class:"button is-prime is-small" %>
        </div>

      </div>
    </div>
    
    <% end %>
  </div>
</div>
</section>
<script>
$('.tooltips').append("<span></span>");
$('.tooltips:not([tooltip-position])').attr('tooltip-position','bottom');


$(".tooltips").mouseenter(function(){
 $(this).find('span').empty().append($(this).attr('tooltip'));
});
</script>
    
<script>
  const fileInput = document.querySelector('#file-js-examplez input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-js-examplez .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }

  $(function() {
  $('#pictureInput').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      console.log(file);
      img.src = file.target.result;
      $('#target').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});
</script>

