<section>
	<div class="columns is-desktop">
		<div class="background-pink">
			<p class="title has-text-centered">THE PLATFORM <span>FOR THE ARTISTIC <span>COMMUNITY</p>
				<p class="subtitle has-text-centered">This is a space for artists to promote their work<span> and be found by entities looking for the most<span> creative minds available in the market.</p>
					<%= image_tag("background-log.jpg")%>
				</div>
				<div class="column is-6 sign-up">
																	
					<div class="column is-8 is-offset-2">
						<h2 class="title has-text-centered">SIGN UP TO PANÓPLIA</h2>
						<%# <a id='button'><i class="fa fa-info-circle" title="tooltip" data-toggle="tooltip" data-placement="right" aria-hidden="true"></i></a> %>
						

						<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
						<%= f.error_notification %>
						<div class="field-body">
							<div class="field">
								<div class="control is-expanded">
									<%= f.input :name, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
								</div>
							</div>
							<%# <a id='button'><i class="fa fa-info-circle" title="tooltip" data-toggle="tooltip" data-placement="right" aria-hidden="true"></i></a> %>

							<div class="field">
								<div class="control is-expanded">
									<label class="label">Username <span class="tooltips fa fa-question-circle" tooltip="This name is not public, it’s only for Panóplia’s database management." tooltip-position="right"></span></label>
									<%= f.input :username, autofocus: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: false %>
								</div>
							</div>

						</div>
						<div class="field">
							<div class="control">
								<%= f.input :email, label: "E-mail adress", input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<%= f.input :password, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" }, hint: ("#{@minimum_password_length} characters minimum " if @minimum_password_length)%>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<%#= f.input :password_confirmation, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
							</div>
						</div>	
						<div class="field">
							<div class="control">
								<label class="checkbox" for="toggle">
									<input type="checkbox" checked required id="toggle" name="terms_and_conditions">
									I agree to the <a href="#">terms and conditions</a>
								</label>
							</div>
						</div>
						<%= f.button :submit, "CREATE ACCOUNT", class:"button is-prime is-small", id:"sendNewSms" %>
						<% end %>
						<br/>
						<%- if controller_name != 'sessions' %>
							<%= link_to "already have an account? Log in here", new_session_path(resource_name), class:"subtitle" %><br />
						<% end -%>
						<br>
						<%#= render "devise/shared/links" %>
					</div>
				</div>
			</div>
		</section>

		<script>
		$('#toggle').click(function () {
    //check if checkbox is checked
    if ($(this).is(':checked')) {
        
        $('#sendNewSms').removeAttr('disabled'); //enable input
        
    } else {
        $('#sendNewSms').attr('disabled', true); //disable input
    }
		});

		function clicked() {
    return confirm('clicked');
}

$('.tooltips').append("<span></span>");
$('.tooltips:not([tooltip-position])').attr('tooltip-position','bottom');


$(".tooltips").mouseenter(function(){
 $(this).find('span').empty().append($(this).attr('tooltip'));
});
		</script>

