<div class="boxe">
  <article class="media">
    <figure class="media-left">
      <p class="comment">
      <% if comment.user.avatar.attached? %>
        <%= link_to cl_image_tag(comment.user.avatar.key), user_path(comment.user)  unless comment.user.avatar.blank? %>
          <% else %>
            <%#= link_to image_tag('panoplia-logo.png'), user_path(comment.user) %>
            <%= link_to letter_avatar_tag(comment.user.name, 0), user_path(comment.user) %>
          <% end %> 
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to comment.user.name.upcase, user_path(comment.user) %></strong>
          <div><%= comment.response %></div>
        </p>
      </div>
    </div>
    <% if (user_signed_in? && (current_user.id == comment.user_id)) %>
       <%= link_to 'Delete', [comment.commentable, comment],
        method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
    <% end %>
  </article>
</div>