<%= simple_form_for @shot, html: { multipart: true }  do |f| %>
  <%= f.error_notification %>
    <div class="columns">

      <div class="column is-background is-hidden-touch"></div>
      <div class="column hero is-amarelo is-hidden-mobile"></div>

        <div class="column hero is-warning profile">
          <div class="column is-warning is-narrow" style="width: 390px;">
            <p class="title is-size-3 has-text-centered">Editing Shot</p>
              <% unless @shot.user_shot.blank? %>
                <%= cl_image_tag @shot.user_shot_url, id: "previewImage" %>
              <% end %>
                <output id="list"></output>
                  <div id="drop_zone">Drag your shot here
                  </div>
                  <br/>
                    <%#= f.input :user_shot, label: false, multiple: true, wrapper: false, label_html: { class: "file-label" } %>
                    <div id="file-js-examples" class="file has-name">
                      <label class="file is-primary has-name is-small">
                        <%= f.file_field :user_shot, class: 'file-input' %>
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">
                            Choose a file…
                          </span>
                        </span>
                        <span class="file-name">
                          No file uploaded
                        </span>
                      </label>
                    </div>

                    <div class="field mt2">
                      <div class="control">
                        <%= f.input :title, label: "Title", input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
                      </div>
                    </div>

                    <div class="field">
                      <div class="control">
                        <%= f.input :description, input_html: { class: "textarea"}, wrapper: false, label_html: { class: "label" } %>
                      </div>
                    </div>

                    <div class="field">
                      <div class="control">
                        <%= f.button :submit, class:"button is-prime is-small" %>
                      </div>
                      <div style="display: flex;">
                        <%= link_to 'Show', @shot, class:"text optional label mt3" %>
                        <span class="space"> | </span>
                        <%= link_to 'Back', shots_path, class:"text optional label mt3" %>
                      </div> 
                    </div>
        </div>
                  <br/>
                  <br/>
                  <br/>
                  <br/>
    </div>           
<% end %>

<script>
  const fileInput = document.querySelector('#file-js-examples input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-js-examples .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>