<%= simple_form_for @shot, html: { multipart: true }  do |f| %>
  
    <div class="columns is-centered is-desktop">

      <div class="column hero drag">
          <%= link_to 'BACK', shots_path, class:"text optional label" %>
          <% unless @shot.user_shot.blank? || @shot.user_shot.size > 2.megabytes %>
          <%= cl_image_tag @shot.user_shot.key, id: "previewImage" %>
          <% end %>
          
          <output id="list"></output>
          <div id="drop_zone" class="title-drag is-size-5">DRAG AN DROP AN IMAGE <p class="subtitle cards is-size-6">or <span>browse</span> to choose a file</p></div>
          <br />
          <br />
          <%#= f.input :user_shot, label: false, multiple: true, wrapper: false, label_html: { class: "file-label" } %>
          <div id="file-js-example" class="file has-name">
            <label class="file is-primary has-name is-small">
              <%= f.file_field :user_shot, class: 'file-input',required: true, onchange: "validateFiles(this);", data: { max_file_size: 2.megabytes } %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
                No file uploaded
              </span>
            </label>
          </div>
                  <%= f.error_notification message: 'Max size 2MB' %>
      </div>

        <div class="column hero is-warning profile">
    
        <p class="subtitle cards">UPLOAD A PHOTO</p>
      
          <div class="field">
            <div class="control">
              <%= f.input :title, label: "Title", required: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :description, required: true, input_html: { class: "textarea"}, wrapper: false, label_html: { class: "label" }, placeholder: "Tell us about the process of this design" %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.button :submit, "PUBLISH", class:"button is-prime is-small" %>
            </div>
          </div>
      <br/>
      <br/>
      <br/>
      <br/>
  
<% end %>
    </div> 

<script>
  const fileInput = document.querySelector('#file-js-example input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-js-example .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>