<%= simple_form_for @shot, html: { multipart: true }  do |f| %>

<div class="columns is-centered is-desktop" style="height: 100%;">

  <div class="column hero white drag">
    <%= link_to 'BACK', shots_path, class:"text optional label" %>
    <% unless @shot.user_shot.blank? || @shot.user_shot.size > 2.megabytes %>
    <%= cl_image_tag @shot.user_shot.key, id: "previewImage" %>
    <% end %>
    
    <output id="list"></output>
    <div id="drop_zone" class="title-drag is-size-5">
      <div class="drop-zone-photo type">
        <p>
        Only high resolution image:<br/> JPG, JPEG, GIF or PNG
        </p>
        <p>
        Animated GIF <br/>
        400x300 800x600 1600x1200
        </p>
      </div>
      <div class="drop-img">
        DRAG AND DROP AN IMAGE 
        <p class="subtitle cards is-size-6">or choose a file
        </p>
        <p class="drop-zone-photo size">
        (1600x1200 px or maximum allowed file size 2 MB)
        </p>
      </div>
    </div>
    <br />
    <br />
    <%#= f.input :user_shot, label: false, multiple: true, wrapper: false, label_html: { class: "file-label" } %>
    <div id="file-js-example" class="file has-name">
      <label class="file is-primary has-name is-small">
        <%= f.file_field :user_shot, class: 'file-input',required: true, onchange: "validateFiles(this);", data: { max_file_size: 2.megabytes } %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
        <span class="file-name">
          No file uploaded
        </span>
      </label>
    </div>
    <%= f.error_notification message: 'Max size 2MB' %>
  </div>

  <div class="column hero is-6-desktop is-warning profile">
    <div class="column is-warning is-narrow">
      <p class="subtitle cards">UPLOAD A PHOTO</p>

      <div class="field">
        <div class="control">
          <%= f.input :title, label: "Title", required: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="label">Description <span class="tooltips fa fa-question-circle" tooltip="If you had any collaborations while doing this artwork, please announce them here." tooltip-position="right"></span></label>
          <%= f.input :description, required: true, input_html: { class: "textarea"}, wrapper: false, label_html: { class: "label" }, placeholder: "Tell us about the process of this design", label: false %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.button :submit, "PUBLISH", class:"button is-prime is-small" %>
        </div>
      </div>
      
    </div>
  </div> 
  <% end %>

  <script>
  $('.tooltips').append("<span></span>");
$('.tooltips:not([tooltip-position])').attr('tooltip-position','bottom');


$(".tooltips").mouseenter(function(){
 $(this).find('span').empty().append($(this).attr('tooltip'));
});
  </script>

  <script>
    const fileInput = document.querySelector('#file-js-example input[type=file]');
    fileInput.onchange = () => {
      if (fileInput.files.length > 0) {
        const fileName = document.querySelector('#file-js-example .file-name');
        fileName.textContent = fileInput.files[0].name;
      }
    }
</script>