<div class="shot-job">
          <% @jobs.each do |job| %>
          <div class="shot-grid-item">
            <div class="shot-wrapper-job">
              <nav class="shot-analytics-job">
                <div class="level-level-right">
                  <div class="level-item-job">
                    <div class="user-thumb-job">
                      <% if job.user.avatar.attached? %>
                      <%= link_to cl_image_tag(job.user.avatar.key, :quality=>"auto:good"), user_path(job.user) %>      
                      <% else %>
                        <%= link_to image_tag('panoplia-logo.png'), user_path(job.user) %>
                      <% end %> 
                    </div>
                    <div class="user-name-job">
                    <h3 class="shot-title job-page"><%= link_to job.title.titleize, job %></h3>
                    <%=link_to sanitize(job.user.name.upcase.truncate(22, separator: '</p>')), job.user, class:"shot-user-name-index" %>
                    </div>
                  </div>
                </div>
              </nav>
               
              <%= link_to job, class: "shot job-index" do %>
            <% if user_signed_in? %>
              <div style="display: flex;">
                <%= job_type(job.job_type) %>
                <span class="tag job-art-type"> <%= job.art_type %> </span>
              </div>
            <label><%= sanitize(job.location.truncate(80, separator: '</p>')) %></label>
              <%else%>
              <div><%= link_to ' Sign in', new_user_session_path %> to apply to this job.</div>
              <% end%>
              <div class="shot-data job">
                <div class="shot-time">
                  <%= time_ago_in_words( job.created_at) %>
                </div>
              </div>
              <% end%>

            </div>
          </div>
          <% end %>
        </div>