<%= render 'hero' %>
<% if user_signed_in? %>
	<%= image_tag 'fundo.png', class:"fahvm"%>
<%end%>
<section class="section">
  <div class="columns is-desktop">

    <div class="column is-7">
      <p class="subtitle cards" style="margin-left: 25px;"
      >BEST OF PANÓPLIA <span>EVER </span><i class="fas fa-sort-down"></i></p>
      <div id="scroll-content">
        <div class="shots">
          <% @shots.each do |shot| %>
             <%= render shot %>
          <% end %>
        </div>
      </div>  
    </div>

          <%# video board colum %>
      <div class="column is-3">
        <p class="subtitle cards">BEST OF<span> VIDEOS </span><i class="fas fa-sort-down"></i></p>
          <div id="scroll-content">
            <div class="videos">
            <% @videos.each do |video| %>
            <div class="shot-grid-item">
              <div class="shot-wrapper">
                <%= link_to video, class: "video" do %>
                  <%= get_video_iframe(video.url) %>
                <% end %>
                    <% if user_signed_in? %>
                    <nav class="level shot-analytics">
                      <div class="level-left">
                        <div class="level-item">
                          <div class="user-thumb">
                            <%=link_to cl_image_tag(video.user.avatar.key), user_path(video.user) unless video.user.avatar.blank? %> 
                          </div>
                          <div class="user-name"><%=link_to video.title.titleize, video %>
                          </div>
                        </div>
                      </div>
                
                      <div class="level-right index video">
                        <div class="level-item views data">
                          <%= link_to video do %>
                          <span class="icon"><i class="fa fa-eye"></i></span>
                          <%= video.impressionist_count %>
                          <% end %>
                        </div>
                        <div class="level-item comments data video">
                          <%= link_to video do %>
                          <span class="icon"><i class="fa fa-comment"></i></span>
                          <%= video.comments.count %>
                          <% end %>
                        </div>
                        <div class="level-item likes">
                          <% if user_signed_in? %>
                          
                          <% if current_user.liked? video %>
                          <%= link_to unlike_shot_path(video), method: :put, class: "unlike_video" do %>
                          <span class="icon"><i class="fa fa-heart has-text-primary"></i></span>
                          <span class="vote_count"><%= video.get_likes.size %></span>
                          <% end %>
                          <% else %>
                          <%= link_to like_shot_path(video), method: :put, class: "like_video" do %>
                          <span class="icon"><i class="fa fa-heart"></i></span>
                          <span class="vote_count"><%= video.get_likes.size %></span>
                          <% end %>
                          <% end %>
                          <% else %>
                          <%= link_to like_shot_path(video), method: :put, class: "like_video" do %>
                          <span class="icon"><i class="fa fa-heart"></i></span>
                          <span class="vote_count"><%= video.get_likes.size %></span>
                          <% end %>
                          <% end %>

                        </div>
                      </div>
                    </nav>
                    <% end %>
              </div>
            </div>
            <% end %>
            </div>
          </div>
      </div>

      <div class="column">
        <p class="subtitle cards">JOB <span>BOARD</span><i class="fas fa-sort-down"></i></p>
          <div id="scroll-content">
          <section>
		        <%= render 'shots-job'%>
          </section>
          </div>
      <div>
      
  </div>
</section>