<div class="columns job">

  <div class="column is-2 job-board">
    <div class="board">
      <%= render 'panel' %>
    </div>
  </div>

  <div class="column jobs-show jobz pt5">
    <% @jobs.each do |job| %>
    <div class="columns">
      <div class="column job-description">
      <div class="level-item-jobz">
      <div class="user-thumb-job">
        <% if job.user.avatar.attached? %>
        <%= link_to cl_image_tag(job.user.avatar.key, :quality=>"auto:good"), user_path(job.user) %>      
        <% else %>
          <%= link_to image_tag('panoplia-logo.png'), user_path(job.user) %>
        <% end %> 
      </div>
      <div class="user-name-jobz">
        <h3 class="shot-title job"><%= link_to job.title.titleize, job %></h3>
        <%=link_to job.user.name.upcase, job.user, class:"job-user-name" %>
      </div>
    </div>
        <ul>
          <li><%#= link_to job.job_author, job.url %></li>
        </ul>
        <div class="pv2 f6 index-title">
          <%= link_to sanitize(job.description.truncate(200, separator: '</p>')), job %>
        </div>

        <div style="display: flex;">
          <%= job_type(job.job_type) %>
          <span class="tag job-art-type"> <%= job.art_type %> </span>
          <p class="f6"><%= job.location %></p>
        </div>

        <% if current_user.try(:admin) || job_author(job) %>
          <ul class="pv3">
            <li class="inline-block f6">Admin controls: </li>
            <li class="inline-block">
              <%= link_to 'View', job, class: 'button is-small' %></li>
            <li class="inline-block">
              <%= link_to 'Edit', edit_job_path(job), class: 'button is-small' %></li>
            <li class="inline-block">
              <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small' %></li>
          </ul>
        <% end %>

        </div>

      </div>
    <% end %>
  </div>

</div>










