<div class="columns pt4 pb7">
  <div class="column is-2 ml4 has-text-centered">
    <div>
      <%= link_to 'Back', jobs_path, class:"button is-lightr"%>
    </div>
    <div class="user-thumb-job-view mt5">
      <% if @job.user.avatar.attached? %>
        <%= link_to cl_image_tag(@job.user.avatar.key, :quality=>"auto:good"), user_path(@job.user) %>      
      <% else %>
        <%= link_to image_tag('panoplia-logo.png'), user_path(@job.user) %>
      <% end %> 
    </div>

    <div class="shot-title job-page has-text-centered mt1">
      <%=link_to @job.user.name.upcase, @job.user, class:"job-user-name" %>
    </div>
    <div class="pv2 f6 index-title has-text-centered">
      <%= link_to sanitize(@job.description.truncate(200, separator: '</p>')), @job %>
    </div>
  </div>

  <div class="column is-6 is-offset-1">
    <p class="f7"><i class="fa fa-clock"></i> Posted <%= time_ago_in_words(@job.created_at) %> ago</p>
    <br/>

    <div class="level">
      <div class="level-left">
        <h1 class="title is-2"><%= @job.title.titleize %></h1>
      </div>
    <% if user_signed_in?%>
      <div class="level-right">
        <%= link_to 'APPLY NOW', @job.apply_url, class:"button is-primarye job" %>
      </div>
    </div>

    <ul class="pb3">
      <li class="inline-block f6 pr2"><%= job_type(@job.job_type) %></li>
      <li class="inline-block f6 pr2"><%= @job.art_type %></li>
      <li class="inline-block f6 ph2"><i class="fa fa-pin"></i> <%= @job.location %></li>
      <% if @job.remote_ok? %>
        <li class="inline-block f6 ph2"><i class="fa fa-wifi"></i> Remote Job</li>
      <% end %>
    </ul>

    <div class="content text-serif f4">
      <%= @job.description.html_safe %>
    </div>

    <%#= link_to 'Apply to this job', @job.apply_url, class:"button is-rounded is-large is-fullwidth is-link" %>


    
  <div class="has-text-centered">
    <h5 class="is-5 has-text-centered"><%= link_to @job.job_author, @job.url %></h5>
    <br/>
    <div class="level-left">
      <%= link_to 'APPLY NOW', @job.apply_url, class:"button is-primarye job" %>
        <% else %>
          <div><button class="button is-dark" title="Disabled button" disabled>Apply to this job</button>
            <br/>
            <%= link_to ' Sign in', new_user_session_path %> To apply to this job.</div>
          </div>
    
      <% end%>

    <%#= link_to 'Apply to this job', @job.apply_url, class:"button is-rounded is-fullwidth is-link" %>
    </div>
    <% if current_user.try(:admin) || job_author(@job) %>
      <ul class="pv3">
        <li class="pv1 f6">Admin controls: </li>
        <li class="pv1 inline-block">
          <%= link_to 'View', @job, class: 'button is-small adm is-link is-outlined' %></li>
        <li class="pv1 inline-block">
          <%= link_to 'Edit', edit_job_path(@job), class: 'button is-small adm is-link is-outlined' %></li>
        <li class="pv1 inline-block">
          <%= link_to 'Delete', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small adm is-link is-outlined' %></li>
      </ul>
    <% end %>
  </div>
    </div>
</div>
