          <div class="videos-user">
            <% @user_videos.each do |video| %>
              <section class="section">
                <%= link_to video, class: "video" do %>
                <%= get_video_iframe(video.url, '410.6px', '300px') %>
                <%end%>
                <% if user_signed_in? %>
                  <nav class="level shot-analytics video">
                    <div class="level-left ml3">
                      <div class="level-item">
                        <div class="user-name"><%=link_to video.title.titleize, video %>
                        </div>
                      </div>
                    </div>

                    <div class="level-right index video mr4">
                      <div class="level-item views data video">
                        <%= link_to video do %>
                        <span class="icon"><i class="fa fa-eye"></i></span>
                        <%= video.impressionist_count %>
                        <% end %>
                      </div>
                      <div class="level-item comments data video">
                        <%= link_to video do %>
                        <span class="icon"><i class="fa fa-comment"></i></span>
                        <%= video.comments.count %>
                        <% end %>
                      </div>
                      <div class="level-item likes">
                        <% if user_signed_in? %>
                        <% if current_user.liked? video %>
                        <%= link_to unlike_shot_path(video), method: :put, class: "unlike_video" do %>
                        <span class="icon"><i class="fa fa-heart has-text-primary"></i></span>
                        <span class="vote_count"><%= video.get_likes.size %></span>
                        <% end %>
                        <% else %>
                        <%= link_to like_shot_path(video), method: :put, class: "like_video" do %>
                        <span class="icon"><i class="fa fa-heart"></i></span>
                        <span class="vote_count"><%= video.get_likes.size %></span>
                        <% end %>
                        <% end %>
                        <% else %>
                        <%= link_to like_shot_path(video), method: :put, class: "like_video" do %>
                        <span class="icon"><i class="fa fa-heart"></i></span>
                        <span class="vote_count"><%= video.get_likes.size %></span>
                        <% end %>
                        <% end %>
                      </div>
                    </div>
                  </nav>
                  <%end%>
              </section>
            <%end%>
          </div>