<div class="card">
  <div class="card-image">
    <section class="hero is-small is-warning">
      <div class="hero-body show">
        <div class="columns is-desktop">
          <div class="column is-5 user has-text-centered">
            <figure class="image is-inline-block">
          <% if @user.avatar.attached? %>
            <%= cl_image_tag @user.avatar.key %>
          <% else %>
            <%= image_tag 'panoplia-logo.png' %>
          <% end %>
            </figure>
              <% if @user.entity  %>
              <p class="title">I am a Company</p>
              <% else %>
              <p class="title">I am an Artist</p>
              <%end%>
          </div>

          <div class="column is-6 has-text-centered">
            <h1 class="title name is-size-3-mobile is-size-2-fullhd">
              <%= @user.name.upcase %>
            </h1>
            <p class="subtitle art">
              <%= @user.art %>
            </p>
            <p class="subtitle bio">
              <%= @user.bio %>
            </p>
            <p class="subtitle location">
              <% if user_signed_in?%>
              <%= @user.location%>
            </p>

            <div class="buttons is-centered">
              <% if user_signed_in? && !current_user?(@user)%>
              <% if current_user.following?(@user) %>
              <%= button_to "UNFOLLOW", friendships_path(user_id: @user.id), class:"button is-dark", method: :delete%>
              <%else%>
              <%= button_to "+FOLLOW", friendships_path(user_id: @user.id), class:"button is-roxo"%>
              <%end%>
              <%end%>
              
              <% if @user.available? && !current_user?(@user)%>
              <%= mail_to @user.email,"+ CONTACT ME", class:'button is-roxo' %>
              <% elsif !current_user?(@user)%>
              <button class="button is-dark" title="Disabled button" disabled>+ CONTACT ME</button>
              <% end%>
            </div>


            <% time_ago_in_words(@user.created_at) %>
            <div class="column is-centered">
              <div class="tag is-warning">
                <span class="follow">FOLLOWERS</span>
                <span class="is-size-5"><%= @user.followers.count %></span>
              </div>

              <div class="tag is-warning" id="pop" style="cursor:pointer;">
                <span class="follow">FOLLOWINGS</span>
                <span class="is-size-5"><%= @user.followings.count %></span>
              </div>
            </div>
            <% end %>
          </div>
        </div>

      </div>
    </section>
  </div>

</div>
</div>

<div class="columns is-desktop">
<div class="column">
<section class="section user">
<p class="subtitle cards" style="
      margin-left: 25px;"
      >My<span> PROJECTS </span><i class="fas fa-sort-down"></i></p>
  <div class="shots user">
    <% @user_shots.each do|shot|%>
    <section class="section">
      <div class="shot-grid-item">
        <div class="shot-wrapper">
          <%= link_to shot, class: "shot" do %>
          <% if shot.user_shot_url.present?%>
          <%= cl_image_tag(shot.user_shot_url) %>
          <% else %>
          <label><%= shot.description %></label>
          <div class="shot-data">
            <h3 class="shot-title"><%= shot.title %></h3>
            <div class="shot-description"><%= truncate(shot.description, length: 60) %></div>
            <div class="shot-time">
              <%= time_ago_in_words(shot.created_at) %>
            </div>
          </div>
          <% end %>
          <% end%>

          <% if user_signed_in?%>
          <nav class="level shot-analytics">
            <div class="level-left"></div>
            <div class="level-right">
              <div class="level-item views data">
                <%= link_to shot do %>
                <span class="icon"><i class="fa fa-eye"></i></span>
                <%= shot.impressionist_count %>
                <% end %>
              </div>
              <div class="level-item comments data">
                <%= link_to shot do %>
                <span class="icon"><i class="fa fa-comment"></i></span>
                <%= shot.comments.count %>
                <% end %>
              </div>

              <div class="level-item likes">
                <% if user_signed_in? %>
                <% if current_user.liked? shot %>
                <%= link_to unlike_shot_path(shot), method: :put, class: "unlike_shot" do %>
                <span class="icon"><i class="fa fa-heart has-text-primary"></i></span>
                <span class="vote_count"><%= shot.get_likes.size %></span>
                <% end %>
                <% else %>
                <%= link_to like_shot_path(shot), method: :put, class: "like_shot" do %>
                <span class="icon"><i class="fa fa-heart"></i></span>
                <span class="vote_count"><%= shot.get_likes.size %></span>
                <% end %>
                <% end %>
                <% else %>
                <%= link_to like_shot_path(shot), method: :put, class: "like_shot" do %>
                <span class="icon"><i class="fa fa-heart"></i></span>
                <span class="vote_count"><%= shot.get_likes.size %></span>
                <% end %>
                <% end %>
              </div>
            </div>
          </nav>
          <%end%>
        </div>
      </div> 
    </section>
    <% end %>
  </div>
</section>

<section class="section user">
  <p class="subtitle cards" style="margin-left: 25px;">My<span> videos </span><i class="fas fa-sort-down"></i></p>
    <% @user_videos.each  do | video | %>
      <%= link_to video, class: "video" do %>
          <div class="video-card">
            <%= get_video_iframe(video.url) %>
          </div>
      <%end%>
    <%end%>
<section>
</div>

<div class="info" id="info">
<section class="section user">
  <p class="subtitle cards">Followings<i class="fas fa-sort-down"></i></p>
  <% @user.followings.each do |user| %>
    <div class="level-item-search">
      <div class="user-thumb-job">
        <%=link_to cl_image_tag(user.avatar.key), user_path(user) unless user.avatar.blank? %> 
      </div>
      <div class="user-name-job">
        <h3 class="shot-title job"><%=link_to user.name, user %></h3>
        <p> <%= user.location %> </p>
      </div>
    </div>
  <%end%>
</div>
</section>
</div>

<script> 
$('#info').hide(); 

    $(document).ready(function() {
        $('#pop').click(function() {
                $('#info').slideToggle("slow");
        });
    });
</script>