<div class="columns is-desktop about">
	<div class="column has-text-centered" id="Oabout";>
		<br/>
		<h1 class="subtitle about">ABOUT</h1>
		<p class="about text">Say Hello, tell us about your ideas and projects or just follow us at:</p>
			<div style="display: flex; justify-content:center;">
				<a href="mailto:panoplia@outlook.pt" target="_blank"  class="social-icons"><i class="far fa-envelope about"></i></a>
				<a href="https://www.facebook.com/panoplia.lx/" target="_blank"  class="social-icons"><i class="fab fa-facebook-f about"></i></a>
				<a href="https://www.instagram.com/_.panoplia._/" target="_blank"  class="social-icons"><i class="fab fa-instagram about"></i></a>
				<a href="https://www.linkedin.com/company/pan%C3%B3plia/" target="_blank"  class="social-icons"><i class="fab fa-linkedin-in about"></i></a>
			</div>
	</div>
	<div class="column has-text-centered is-two-thirds" id="Otexto">
		<br/>
		<h1 class="subtitle about">THE PLATFORM FOR THE EMERGENT ARTISTIC COMMUNITY</h1>
		<p class="texto">Panóplia is a platform that connects artists from different 
		backgrounds to professional opportunities in their art. 
		It is the ideal place for companies to find the right person 
		that matches their creative needs – be them musical, aesthetical or performative.
		</p>
		<br/>
		<p class="subtitle rosa" style="font-size: 2.5rem; color: #ff78be;">''PANÓPLIA IS ON A MISSION TO GATHER ARTISTS FROM SEVERAL SECTORS IN TO AN UNIQUE PLATFORM''</p>
		<br/>
		<h1 class="subtitle about">FOR THE EMPOWERMENT OF ARTISTS</h1>
		<p class="texto">
		Panóplia is on a mission to gather artists from several sectors in to an unique platform, to provide better counsel and chances for professional development.
		We want painters, musicians, illustrators, actors and actresses, sculptors and sculptresses, designers and every other kind of artist you can think of to join us, so we can grow together. We fight for a world where being an artist is as possible and rightfull as being a doctor,  a journalist or an engineer, and not a bit less valued. We continue to work with that goal, everyday.
		</p>
		<br/>
		<h1 class="subtitle about">OUR TEAM</h1>
		<div class="face">
			<div class="face_about">
				<h1 class="subtitle about small">Beatriz</h1>
				<p class="texto-small">Executive Director </p>
				<div class="image_about">
					<%= image_tag ("Beatriz_C.jpeg")%>
				</div>
			</div>
			<div class="face_about">
				<h1 class="subtitle about small">Mafalda</h1>
				<p class="texto-small">Projects Manager</p>
				<div class="image_about">
					<%= image_tag ("Mafalda_Chambel.jpeg")%>
				</div>
			</div>
			<div class="face_about">
				<h1 class="subtitle about small">Ana</h1>
				<p class="texto-small">Artistic Network Manager</p>
				<div class="image_about">
					<%= image_tag ("Ana_Raque_ Rodrigues.jpg")%>
				</div>
			</div>
			<div class="face_about">
				<h1 class="subtitle about small">Miguel</h1>
				<p class="texto-small">Designer</p>
				<div class="image_about">
					<%= image_tag ("Miguel_Dias.jpg")%>
				</div>
			</div>
		</div>
		<br/>
		<div class="face">
			<div class="face_about">
				<h1 class="subtitle about small">Francisco</h1>
				<p class="texto-small">Designer</p>
				<div class="image_about">
					<%= image_tag ("Francisco_Lacerda.jpg")%>
				</div>
			</div>
			<div class="face_about">
				<h1 class="subtitle about small">Leonardt</h1>
				<p class="texto-small">Web Developer</p>
				<div class="image_about">
					<%= image_tag ("leonardt.png")%>
				</div>
			</div>
			<div class="face_about">
				<h1 class="subtitle about small">João</h1>
				<p class="texto-small">Financial Manager</p>
				<div class="image_about">
					<%= image_tag ("Joao_Ganhoteiro.jpg")%>
				</div>
			</div>
			<div class="face_about">
				<h1 class="subtitle about small">André</h1>
				<p class="texto-small">Accounter</p>
				<div class="image_about">
					<%= image_tag ("Andre_Farinha.jpeg")%>
				</div>
			</div>

		</div>
		<br/>
	</div>
	<div class="column imagem-about is-hidden-mobile is-hidden-touch">
		<div id="slideoutSM">
			<a href="https://www.instagram.com/catcutpaste/" target="_blank" ><p>@catcutpaste</p></a>
		</div>
	</div>
</div>