
		<div class="columns is-centered login">
				<div class="column hero is-primaryV is-hidden-mobile">
        </div>
        <div class="column hero is-purpleis-hidden-mobile">
				</div>
			<div class="column hero is-4 is-warning profile">
				<h2 class="title is-2">Log in</h2>
				<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

				  <div class="field">
				  	<div class="control">
				    	<%= f.input :email, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
				    </div>
				  </div>

				  <div class="field">
				  	<div class="control">
				    <%= f.input :password, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
						</div>
					</div>

					<div class="field">
				  	<div class="control">
				    <%= f.input :remember_me, wrapper: false, as: :boolean if devise_mapping.rememberable? %>

				  	</div>
					</div>

				  <%= f.button :submit, "Log in", class:"button is-primary is-medium" %>
				<% end %>
				<hr />
				<%= render "devise/shared/links" %>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
			</div>
				<div class="column hero is-warning is-hidden-mobile">
        </div>
        <div class="column hero is-warning is-hidden-mobile">
        </div>
		</div>