<section class="section">
  <div class="columns is-desktop">

    <div class="column">
      <p class="subtitle cards" style="margin-left: 25px;"
      >PANÓPLIA <span>SEARCH </span><i class="fas fa-sort-down"></i></p>
      
        <div class="shots-search">
            <% @resources.each do |resource| %>
              <% if resource.is_a?(Video) %>
                <%= render partial: "video", locals: {video: resource} %>
              <% else %>
                <%= render partial: "shot", locals: {shot: resource} %>
              <% end %>
            <% end %>
        </div>
    </div>
      <%# video board colum end%>
      <div class="column is-3">
        <p class="subtitle cards" style="margin-left: 25px;">USER <span>SEARCH </span><i class="fas fa-sort-down"></i></p>
        <div class="follow-search-grid">
          <% @users.each do |user| %>
            <div class="level-item-search">
              <div class="user-thumb-job">
                <% if user.avatar.attached? %>
                  <%= link_to cl_image_tag(user.avatar.key, :quality=>"auto:good"), user_path(user) %>
                <% else%>
                  <%= link_to image_tag('panoplia-logo.png'), user_path(user) %>
                <% end%>
              </div>
              <div class="user-name-job">
                <h3 class="shot-title job search"><%= link_to sanitize(user.name.upcase.truncate(20)), user %></h3>
                <p> <%= user.location %> </p>
              </div>
            </div>
          <%end%>

        </div>
      </div>

 </section>
