<section class="section">
  <%# <div class="columns is-desktop">

    <div class="column">
      <p class="subtitle cards" style="margin-left: 25px;"
      >PANÓPLIA <span>SEARCH </span><i class="fas fa-sort-down"></i></p>
      
        <div class="shots-search">
            <% @resources.each do |resource| %>
              <%# <% if resource.is_a?(Video) %>
                <%#= render partial: "video", locals: {video: resource} %>
              <%# else %>
                <%#= render partial: "shot", locals: {shot: resource} %>
              <%# end %>
            <%# end %>
        <%#</div>
    </div> %>

      <div class="column">
        <div style="display: flex;">
          <p class="subtitle cards" style="margin-left: 25px;">USER <span>SEARCH </span><i class="fas fa-sort-down"></i></p>
  
          <div class="field has-addons">
            <div class="control-search">
              <%# if user_signed_in? %>
              <%#= link_to 'Shots', root_path , class:"button is-white" %>
              <%= form_tag(searches_path, :method => 'get') do %>
              <%= text_field_tag :search, params[:search],  class:"input search", type:"text",placeholder:"Search...",name:"search", onkeydown:'clickSubmit();'%>
            </div>
            <div class="control-search">
              <%= button_tag type: 'submit', class: "button", id: "search-form" do %>
              <i class="fas fa-search" aria-hidden="true"></i>
              <% end %>
              <% end %>
              <%# end %>
            </div>
          </div>

        </div>

        <div class="follow-grid">
          <% @users.each do |user| %>
            <div class="level-item-search-f">
              <div class="user-thumb-following">
                <% if user.avatar.attached? %>
                  <%= link_to cl_image_tag(user.avatar.key, :quality=>"auto:good"), user_path(user) %>
                <% else%>
                  <%= link_to image_tag('panoplia-logo.png'), user_path(user) %>
                <% end%>
              </div>
              <div class="user-name-follow">
                <h3 class="shot-title job search"><%= link_to sanitize(user.name.upcase.truncate(20)), user %></h3>
                <p style="margin-top: 5px;"> 
                <%= user.location %> </p>
              <div style="display:flex">
                <p class="about">Artist</p>
                <p class="subtitle art"><%= user.art %></p>
              </div>
              </div>
              <div class="shots-following is-hidden-mobile">
              <% user.shots.limit(4).each do|shot|%>
                <%= link_to shot, class: "shot" do %>
                  <%= cl_image_tag(shot.user_shot_url, :quality=>"auto:good") %>
                <%end%>
              <%end%>
            </div>
            </div>
            
          <%end%>

        </div>
      </div>

</section>

<footer class="footer">
  <div class="content has-text-centered ">
    <div class="columns is-variable is-1-mobile is-0-tablet is-0-desktop is-0-widescreen is-2-fullhd">
      <div class="column">
        <%= link_to "ABOUT", home_about_path%>
      </div>
      <div class="column">
        <a>ASSOCIATION </a>
      </div>
      <div class="column">
        <a>PRIVACY POLICY </a>
      </div>
      <div class="column is-3">
        <p><strong>Panóplia</strong> is developed with 💜 by <a href="https://www.linkedin.com/in/leonardtlauenstein/">LEONARDT</a></p>
      </div>
      <div class="column">
        <a>TERMS </a>
      </div>
      <div class="column">
        <a>COMMUNITY PLEDGE </a>
      </div>
      <div class="column">
        <a href="mailto:panoplia@outlook.pt">CONTACT US </a>
      </div>
    </div>
  </div>
</footer>

<script>
  function clickSubmit() {
    $(#search-form).trigger("click")
  }
<script>