<!DOCTYPE html>
<html>
  <head>
    <title>Panóplia</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Panóplia 〰 Plataforma de empoderamento e divulgação de artistas 〰</title>
    <meta name="description" content="𝚙𝚘𝚛𝚚𝚞𝚎 𝚑á 𝚙𝚎𝚜𝚜𝚘𝚊𝚜 𝚚𝚞𝚎 𝚏𝚊𝚣𝚎𝚖 𝚌𝚘𝚒𝚜𝚊𝚜 𝚒𝚗𝚌𝚛í𝚟𝚎𝚒𝚜">
    <meta property="og:title" content="〰 Plataforma de empoderamento e divulgação de artistas 〰">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/344aab95fd.js" crossorigin="anonymous"></script>
  </head>

  <body>
  	<% if flash[:notice] %>
    	<div class="notification is-primary global-notification">
  	  	<p class="notice"><%= notice %></p>
        <button class="delete"></button>
    	</div>
   	<% end %>
    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
      <button class="delete"></button>
    </div>
    <% end %>
     <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
        <div class="image-logo">
        <%= image_tag 'Panoplia_logo.png' %>
        </div>
        <% end  %>
      <div class="navbar-burger burger" data-target="navbar">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

      <div id="navbar" class="navbar-menu">

        <div class="navbar-start">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <%#= link_to 'Shots', root_path , class:"button is-white" %>
              </p>
            </div>
          </div>
        </div>

        <div class="navbar-end">
              <% if user_signed_in? %>
              <p class="navbar-item">
                <%= link_to new_shot_path, class:"button is-primary"  do %>
                  <span class="icon is-small"><i class="fa fa-upload"></i></span>
                  <span>NEW SHOT</span>
              <% end %>
              </p>
              <p class="navbar-item">
               <%#= link_to 'Profile', user_path(current_user) %>
               <%#= link_to 'Edit', edit_user_path(current_user) %>
                <%= link_to 'EDIT', edit_user_registration_path, class:"button is-white" %>
              </p>
              <p class="navbar-item">
                <%= link_to current_user.name.upcase, user_path(current_user), class:"button is-white" %>
                <%#= link_to current_user.name, edit_user_registration_path, class:"button is-white" %>
              </p>
              <p class="navbar-item">
                <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class:"button is-white" %>
              </p>
              
              <% else %>
              <p class="navbar-item">
                 <%= link_to "LOG IN", new_user_session_path, class:"button is-white" %>
              </p>
              <% end %>

        </div>
      </div>
    </nav> 
  
    <%= yield %>
    
    <footer class="footer">
  <div class="content has-text-centered ">
    <p>
      <strong>Panóplia</strong> by <a href="https://www.linkedin.com/in/leonardtlauenstein/">Leonardt L</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>

  </body>
</html>
