<!DOCTYPE html>
<html>
  <head>
    <title>Panóplia</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Panóplia 〰 Plataforma de empoderamento e divulgação de artistas 〰</title>
    <meta name="description" content="𝚙𝚘𝚛𝚚𝚞𝚎 𝚑á 𝚙𝚎𝚜𝚜𝚘𝚊𝚜 𝚚𝚞𝚎 𝚏𝚊𝚣𝚎𝚖 𝚌𝚘𝚒𝚜𝚊𝚜 𝚒𝚗𝚌𝚛í𝚟𝚎𝚒𝚜">
    <meta property="og:title" content="〰 Plataforma de empoderamento e divulgação de artistas 〰">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', "https://js.stripe.com/v2/", "https://js.stripe.com/v3/", 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: "stripe-public-key", content: Figaro.env.stripe_publishable_key %>
    <script src="https://kit.fontawesome.com/344aab95fd.js" crossorigin="anonymous"></script>
  </head>

  <body>
  	<% if flash[:notice] %>
    	<div class="notification is-primary global-notification">
  	  	<p class="notice"><%= notice %></p>
        <button class="delete"></button>
    	</div>
   	<% end %>
    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
      <button class="delete"></button>
    </div>
    <% end %>
     <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
        <div class="image-logo">
        <%= image_tag 'panoplia-logo.png' %>
        </div>
        <% end  %>
      <div class="navbar-burger burger is-hidden-desktop" data-target="navbar">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

      <div id="navbar" class="navbar-menu">

        <div class="navbar-start">
          <div class="navbar-item">
            <div class="field has-addons">
              <div class="control mt3">
              <% if user_signed_in? %>
                <%#= link_to 'Shots', root_path , class:"button is-white" %>
                <%= form_tag searches_path, :method => 'get', id: 'search-form' do %>
                  <%= text_field_tag :search, params[:search],  class:"input", type:"text",placeholder:"Search here"%>
                </div>
                <div class="control mt3">
                  <%= submit_tag "SEARCH", :name => nil, class: "button is-black is-small" %>
                <% end %>
                <% end %>
              </div>
              
            </div>
          </div>
        </div>

        <div class="navbar-end">
              <% if user_signed_in? %>
              <p class="navbar-item">
                <%= link_to 'JOBS', jobs_path, class: "button is-black is-small mr3" %>
                <%= link_to 'EVENTS', jobs_path, class: "button is-black is-small mr3 is-static" %>
                <%= link_to 'STORE', jobs_path, class: "button is-black is-small mr3 is-static" %>
                <%= link_to 'ABOUT', jobs_path, class: "button is-black is-small mr3 is-static" %>
                
                </p>
                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="is-arrowless">
                      <p class="navbar-item user">
                        <% if current_user.avatar.attached? %>
                        <%= link_to cl_image_tag(current_user.avatar.key), user_path(current_user), class:"is-hidden-mobile" %>
                        <% else%>
                        <%= link_to image_tag('panoplia-logo.png'), user_path(current_user), class:"button is-black" %>
                        <% end%>
                      </p>
                    </a>
                    <div class="navbar-dropdown is-right">
                      <div class="navbar-item">
                        <%= link_to 'EDIT', edit_user_registration_path, class:"button is-black" %>
                      </div>
                      <div class="navbar-item">
                        <%= link_to 'PROFILE', user_path(current_user), class:"button is-black" %>
                      </div>
                      <hr class="navbar-divider">
                      <div class="navbar-item logout">
                        <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class:"button is-black" %>
                      </div>
                    </div>
                  </div>
                  <% end %>
                <p class="navbar-item">
                <% if user_signed_in? %>
                <%= link_to 'POST JOB', new_job_path, class: "button is-primary is-small mr3" %>
                <%= link_to new_shot_path, class:"button is-primary is-small"  do %>
                <span class="icon is-small"><i class="fa fa-upload"></i></span>
                <span>NEW SHOT</span>
              <% end %>
              </p>


              <div class="navbar-item logout">
                <% link_to "LOG OUT", destroy_user_session_path, method: :delete, class:"button is-black" %>
              </div>
              
              <% else %>
              <p class="navbar-item">
                 <%= link_to "LOG IN", new_user_session_path, class:"button is-primary is-small" %>
              </p>
              <% end %>

        </div>
      </div>
    </nav> 
  
    <%= yield %>
    
    <footer class="footer">
  <div class="content has-text-centered ">
    <p>
      <strong>Panóplia</strong> by <a href="https://www.linkedin.com/in/leonardtlauenstein/">Leonardt L</a>.
    </p>
  </div>
</footer>
  </body>
</html>
